/* 
Design specs

mobile - 375x667
desktop - 1440x900
tablet - 768x1024

design system 

colors: #54E6AF, #2C344B, #121725, #FFFFFF, #5A668A, #C2CBE5

typography: Title - Chivo Light, 52px - 62px line, all caps; Body - 18px - 28px line

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

* {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

h1 {
    font-weight: normal;
    font-size: 1.65rem;
    word-wrap: break-word;
}

p {
    word-wrap: break-word;
    font-weight: 300;
    display: inline-block;
    margin-top: 1.5em;
    max-width: 25em;
    color: #C2CBE5;
    font-size: 1rem;
    text-align: center;
    line-height: 1.7rem;
    
}

.body {
    height: 100%;
    width: 100%;
}

.main {
    width: 375px;
    height: 667px;
    position: absolute;
    display: block;
    background: url("assets/mobile/image-host.jpg"), linear-gradient(rgba(18,23,37,1),rgba(18,23,37,1));
    background-blend-mode: overlay;
    background-size: 375px 667px;
    background-position: left 0.1em bottom 0;
    left: 45vw;
    top: 25vh;
}

.home {
    position: relative;
    display: inline-block;
    padding-left: 7.5em;
    padding-top: 4em;
    padding-bottom: 4em

}

.g {
    color: #54E6AF;
    z-index: 2;
    text-align: center;
}

.w {
    color: #FFFFFF;
    z-index: 2;
    text-align: center;
}

.logos {
    position: absolute;
    display: inline-block;
    top: 12.5em;
    height: 1em;
}

.apple, .spotify, .google, .pocket {
    display: inline-block;
    position: relative;
    margin: 0.6em;
    top: 13em;
    left: 0.9em;

}

.spotify {
    height: 1.1em;
    top: 13em;

}

.apple {
    height: 1.2em;
    top: 13.15em;

}

.google {
    height: 0.7em;
    top: 12.9em;
    left: 1em
}

.input {
    position: absolute;
    display: inline-block;
    top: 41vh;
    left: 2vh;
    width: 14.5vw;
    height: 3.7vh;
    border-radius: 20px;
    background-color: #2C344B;
    color: grey;
    text-indent: 1.5rem;
    font-weight: 700;
}

.button {
    position: absolute;
    display: block;
    background-color: #54E6AF;
    bottom: 6.8vh;
    left: 2vh;
    width: 14.5vw;
    height: 3.7vh;
    border-radius: 2em;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
    width: 14.8vw;
    height: 4vh;
    bottom: 6.5vh;
    left: 1.7vh;
}


/* @media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 1200px) {
    
} */

